# -*- mode: yaml -*-

includes:
  - phpstan-baseline.neon

parameters:
  level: 6
  paths:
    - src
  excludePaths:
    - src/templates
  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false
  ignoreErrors:
    - '#Construct empty\(\) is not allowed#'
    - '#undefined method ReflectionType::getName#'
